build maven:
  before_script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
    - docker build -t $TAG -f images/maven.Dockerfile .
    - docker push $TAG
  variables:
    IMAGE_NAME: maven
    TAG: $CI_REGISTRY/$CI_PROJECT_PATH/$IMAGE_NAME:latest
  rules:
    - changes:
        - images/maven.Dockerfile

build gradle:
  before_script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN $CI_REGISTRY
  script:
    - docker build -t $TAG -f images/gradle.Dockerfile .
    - docker push $TAG
  variables:
    IMAGE_NAME: gradle
    TAG: $CI_REGISTRY/$CI_PROJECT_PATH/$IMAGE_NAME:latest
  rules:
    - changes:
        - images/gradle.Dockerfile

test gradle:
  image: "gitlabregistry.exxeta.com/jan/dojo/maven"
  script:
    - pwd
    - ls
    - cd samples/gradle
    - gradle test