image:
  name: hauer/dojo:yamllint-1.23
  # entrypoint: ['bash', '-c', 'chown dojo:dojo -R /builds/jan/dojo && rmdir /dojo/work && ln -s /builds/jan/dojo /dojo/work && exec su dojo -c bash']
  # entrypoint: ["/sbin/tini", "-g", "--", "/usr/bin/entrypoint.sh"]

variables:
  DOJO_WORK_INNER: $CI_PROJECT_DIR

test gradle:
  stage: test
  script:
    - echo $dojo_home
    - ls -la $dojo_home
    - pwd
    - ls -la $dojo_work